
<router-outlet></router-outlet>

<!-- <footer class="bottom-0 bg-white w-full text-gray-600 body-font">
  <div class="container px-5 py-3 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <img src="../assets/images/sneakers.png" class="mr-3 h-6 sm:h-9" alt="Logo">
      <span class="text-xl font-semibold whitespace-nowrap font-mono text-blue-500">ShoeStop</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 ShoeStop —
      <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@shoeStop</a>
    </p>
  </div>
</footer> -->

