<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ShoeStop" class="lg:w-1/2 w-full lg:h-96 md:h-80 h-64 object-cover object-center rounded" [src]="product.imageUrl">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">{{product.brand}} | {{product.category}}</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{product.productName}}</h1>
        <p class="leading-relaxed">{{product.description}}</p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
          <div class="flex">
            <span class="mr-3">Color</span>
            <button class="border-2 border-gray-300 ml-1 rounded-full w-6 h-6 focus:outline-none" [ngClass]="{'bg-red-600': product.color === 'Red', 'bg-blue-600': product.color === 'Blue', 'bg-gray-600': product.color === 'Gray', 'bg-white': product.color === 'White', 'bg-black': product.color === 'Black'}"></button>
          </div>
          <div class="flex ml-6 items-center">
            <span class="mr-3">Size : {{product.size}}</span>
          </div>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900">{{product.price | currency}}</span>
          <button [routerLink]="" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</section>